<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Naim'O | Accueil</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/accueil.css') }}">
</head>
<body>

    {% include 'nav.html' %} 

    <!-- Section Accueil -->
    <section id="accueil" class="wave-bg">
        <div class="water-effect">
            <div class="container">
                <h2 class="exotic-font">Plongez dans l'univers <span class="highlight">aquatique</span></h2>
                <p>Découvrez les données les plus récentes sur les populations piscicoles françaises à travers notre observatoire interactif.</p>
            </div>
        </div>
    </section>

    <!-- Section Statistiques -->
    <section id="stats">
        <div class="container">
            <h2>A EXPLORER</h2>
            <div class="stats-grid">
                <div class="data-card">
                    <div class="stat-value">{{ nbStations }}</div>
                    <div class="stat-label">Stations de suivi</div>
                    <i class="fas fa-map-marker-alt fish-icon"></i>
                </div>
                <div class="data-card">
                    <div class="stat-value">
                        {% if nbObservations is not none %}
                            {{ "{:,}".format(nbObservations).replace(",", " ") }}
                        {% else %}
                            N/A
                        {% endif %}
                    </div>
                    <div class="stat-label">Nombre d'observations</div>
                    <i class="fas fa-database fish-icon"></i>
                </div>
                <div class="data-card">
                    <div class="stat-value">{{ lastDate }}</div>
                    <div class="stat-label">Mise à jour</div>
                    <i class="fas fa-calendar-alt fish-icon"></i>
                </div>
            </div>
        </div>
    </section>

    <script src="{{ url_for('static', filename='javascript/accueil.js') }}"></script>
</body>
</html>
