<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css">
    <link rel="stylesheet" href="/static/css/prelevements.css">
    <title>Naim'O | Prélèvements</title>
</head>
<body>

    <nav id="menu">
        <link rel="stylesheet" href="/static/css/nav.css">
        <div class="menu-container">
            <div class="logo-section">
                <img src="/static/tools/logo.png" alt="Logo Poisson" class="logo-img">
                <h1 class="logo-text">Naim'<span class="logo-accent">O</span></h1>
            </div>
            <ul>
                <li><a href="/accueil">ACCUEIL</a></li>
                <li><a href="/observations">OBSERVATIONS</a></li>
                <li><a href="/">PRELEVEMENT</a></li>
                <li><a href="/apropos">À PROPOS</a></li>
                <li><a href="/contact">CONTACT</a></li>
            </ul>
        </div>
    </nav>
    <script src="/static/javascript/onload.js"></script>  

    <div id="container">
        <aside id="mapZone">
            <form action="/prelevements" method="GET">
                <span>Rechercher selon :</span> 
                <select name="zone" id="selectZone">
                    <option value="region">Région</option>
                    <option value="departement" selected>Département</option>
                </select>
            </form>
            <div id="map"></div>
        </aside>

        <aside id="stationZone">
        </aside>
    </section>

    


    <div id="fishPopup" class="popup">
        <div id="popupContent">
            <div id="popupLeft">
                <div id="popupList"></div>
            </div>
            <div id="popupRight" class="hidden"></div>
            <button id="closePopup">&times;</button>
        </div>
    </div>



    

</body>
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script src="{{ url_for('static', filename='javascript/carte.js') }}"></script> 
</html>